//-- Contenido de la Expansión Multimarca del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} en la marca ${marca}`

block body
    include ./componentes/cabecera.pug
    .interfazExpansionMultimarca
        br
        div.row
            div.column
                img(src=`data:image/*;base64,${logo}`)
            div.column
                if tipo === 'RESTAURANTE'
                    h1=tipo + ': ' + marca
                else if tipo === 'PELUQUERIA'
                    h1=tipo + ': ' + marca
                else if tipo === 'COMERCIO'
                    h1=marca
                else if tipo === 'ACADEMIA'
                    h1=tipo + ': ' + marca
                br
                p=descripcion
            div.column#contactoExpansionMultimarca
                img(src="/images/whatsapp.png", alt="whatsapp")
                if whatsapp
                    span=whatsapp
                br
                br
                img(src="/images/email.png", alt="email")
                if email 
                    span=email
                br
                br
                if instagram
                    a(href=instagram target="_blank")
                        img(src="/images/instagram.png", alt="instagram")
                else
                    img(src="/images/instagram.png", alt="instagram")
                br
                br
                if twitter
                    a(href=twitter target="_blank")
                        img(src="/images/twitter.png", alt="twitter")
                else
                    img(src="/images/twitter.png", alt="twitter")
                br
                br
                if pagweb
                    a(href=pagweb target="_blank")
                        img(src="/images/pageWeb.png", alt="pageWeb")
                else 
                    img(src="/images/pageWeb.png", alt="pageWeb")
        div.row
            if tipo === 'COMERCIO'
                div.column
                    p='Al pulsar conectar, se lleva a cabo el proceso de autorización entre'
                    p='MAD Services y el Comercio, registrando al cliente en dicha empresa de forma automática.'
                    p='También podrá haber productos de dicho Comercio en el Centro Comercial MAD.'
            else if tipo === 'RESTAURANTE'
                div.column
                div.column
                    h3='Menús ofertados: '
                div.column
        div.row
            if tipo === 'RESTAURANTE'
                div.column
                    img#menuRestaurante(src='/images/MenuTunante1.png' alt='MenuTunante1')
                div.column
                    img#menuRestaurante(src='/images/MenuTunante2.png' alt='MenuTunante2')
                div.column
                    img#menuRestaurante(src='/images/MenuTunante3.png' alt='MenuTunante3')
        div.row
            div.column
            div.column
                form(method='GET' action=`/sesion-cliente/${id}/empieza/themall`)
                    button(type='submit')='Volver'
            div.column
                if tipo === 'COMERCIO'
                    a(href=pagweb target="_blank")
                        button(type='submit')='Conectar'
                else
                    form(method='POST' action=`/sesion-cliente/${id}/empieza/themall/expansion${marca}/reservar`)
                        button(type='submit')='Reservar'
        br
    include ./componentes/piepagina.pug