//-- Contenido de la Sección Expansión del Producto MAD por parte de los Clientes del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo completamente el Producto MAD ${enumeracion}`

block body
    include ./componentes/cabecera.pug
    .interfazExpansionProductosMAD
        br 
        .rowExp
            .columnExp
                img(src=`data:image/*;base64,${imagenPortada}`)
            .columnExp
                .subrowExp
                    h1=titulo
                .subrowExp
                    h2#rojoExpansion=`¡Sólo quedan ${cantidad} productos!`
                    h2#verdeExpansion='¡Date prisa y no esperes más!'
                .subrowExp
                    h3='Categoria: '
                    p.seccionesExpansion=categoria
                .subrowExp
                    h3='Peso para envío: '
                    p.seccionesExpansion=peso + ' Kg/unidad'
                .subrowExp
                    h3='Precio: '
                    p.seccionesExpansion=precio + ' €/unidad'
                br
                br
                .subrowExp
                    form(method='POST' action=`/sesion-cliente/${id}/empieza/productosmadservices/carrito`)
                        button#btnExpansion(type='submit' name='enumeracion' value=enumeracion)='Añadir al carrito'
                br
                br
                .subrowExp
                    h3='Descripción: '
                    p.seccionesExpansion=descripcion
        br
        br
    include ./componentes/piepagina.pug