//-- Contenido del Perfil de los Clientes del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
    include ./componentes/cabecera.pug
    div.perfilCliente
        br
        h1.tituloPerfil=`Hola ${nombre} ${apellidos}, éste es tu perfil:`
        div#perfilClienteIzquierda
            h3='Actualización de mi perfil: '
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-nombre`)
                input(type='hidden' name='_method' value='PATCH')
                label='Nombre: '
                input.entradasNoRadio(type='text' name='nombre' placeholder='Escribe tu nombre....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-apellidos`)
                input(type='hidden' name='_method' value='PATCH')
                label='Apellidos: '
                input.entradasNoRadio(type='text' name='apellidos' placeholder='Escribe tus dos apellidos....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-genero`)
                input(type='hidden' name='_method' value='PATCH')
                label='Género: '
                input(type='radio' name='genero' value='Hombre')
                label='Hombre'
                input(type='radio' name='genero' value='Mujer')
                label='Mujer'
                input(type='radio' name='genero' value='Otro')
                label='Otro'
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-email`)
                input(type='hidden' name='_method' value='PATCH')
                label='E-mail: '
                input.entradasNoRadio(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-password`)
                input(type='hidden' name='_method' value='PATCH')
                label='Antigua contraseña: '
                input.entradasNoRadio(type='password' name='oldpassword' placeholder='Introduce una contraseña válida....')
                br
                br
                br
                label='Nueva contraseña: '
                input.entradasNoRadio(type='password' name='newpassword' placeholder='Introduce una contraseña válida....')
                br
                br
                br
                label='Repite la contraseña: '
                input.entradasNoRadio(type='password' name='repitePassword' placeholder='Introduce una Contraseña válida....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-pais`)
                input(type='hidden' name='_method' value='PATCH')
                label='País: '
                input.entradasNoRadio(type='text' name='pais' placeholder='Introduce un país válido....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-region`)
                input(type='hidden' name='_method' value='PATCH')
                label='Región: '
                input.entradasNoRadio(type='text' name='region' placeholder='Introduce una región válida....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-poblacion`)
                input(type='hidden' name='_method' value='PATCH')
                label='Población: '
                input.entradasNoRadio(type='text' name='poblacion' placeholder='Introduce una población válida....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-direccion`)
                input(type='hidden' name='_method' value='PATCH')
                label='Dirección: '
                input.entradasNoRadio(type='text' name='direccion' placeholder='Introduce la dirección de un domicilio válido y el nº....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            form(method='POST' action=`/sesion-cliente/${id}/perfil/actualizar-cp`)
                input(type='hidden' name='_method' value='PATCH')
                label='Código Postal: '
                input.entradasNoRadio(type='text' name='pais' placeholder='Introduce un país válido....')
                br
                br
                br
                input.entradasNoRadio(type='number' name='cp' placeholder='Introduce un código postal válido....')
                button(type='submit')
                    i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
        div#perfilClienteDerecha
            h3='Mi Información: '
            ul 
                li.mostrarPerfilCliente
                    if id
                        label='El identificador/ID de mi perfil: ' + id
                        br
                        br
                    if nombre
                        label='Mi nombre: ' + nombre
                        br
                        br
                    if apellidos
                        label='Mis dos apellidos: ' + apellidos
                        br
                        br
                    if genero
                        label='Mi género: ' + genero
                        br
                        br
                    if email
                        label='Mi E-mail: ' + email
                        br
                        br
                    if password
                        label='Mi contraseña: '
                        span(hidden)=password
                        span='(oculta).'
                        br
                        br
                    if direccion
                        label='Mi dirección y nº: ' + direccion
                        br
                        br
                    if poblacion
                        label='Mi población: ' + poblacion
                        br
                        br
                    if region
                        label='Mi región: ' + region
                        br
                        br
                    if pais
                        label='Mi país: ' + pais
                        br
                        br
                    if cp
                        label='Código Postal de mi domicilio: ' + cp
        div#perfilClienteAbajo
            h3='Darse de baja de MAD Services: '
            form(method='POST' action=`/sesion-cliente/${id}/perfil/darse-baja`)
                input(type='hidden' name='_method' value='DELETE')
                label='¿Confirmas que quieres darte de baja de MAD Services?: '
                br
                label.ConfirmarBaja#siConfirmar='Sí'
                input.ConfirmarBaja(name="siConfirmar" type="checkbox")
                label.ConfirmarBaja='No'
                input.ConfirmarBaja(name="noConfirmar" type="checkbox")
                button#btnDarseBaja(type='submit')='Confirmo'
    include ./componentes/piepagina.pug