//-- Contenido de la Sección Productos Multimarca del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} en el Centro Comercial MAD`

block body
    include ./componentes/cabecera.pug
    .interfazProductosMAD
        br
        header
            img(src='/images/anuncio.png' alt='anuncio')
        div.row
            div.columnIzq
                h3='Búsqueda a medida'
                p='Por tipo de empresa:'
                p='Por nombre de empresa:'
                p='Por producto o servicio:'
                p='Por nombre del producto:'
                p='Por precio del producto:'
            div.columnDer
                each empresa in empresas
                    if empresa.tipo === 'RESTAURANTE'
                        div.tarjetaProductosMALL#colorServiciosRestaurante
                            h3=empresa.tipo + ': ' + empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-cliente/${id}/empieza/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'COMERCIO'
                        div.tarjetaProductosMALL#colorServiciosComercio
                            h3=empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-cliente/${id}/empieza/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'ACADEMIA'
                        div.tarjetaProductosMALL#colorServiciosAcademia
                            h3=empresa.tipo + ': ' + empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-cliente/${id}/empieza/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
                    else if empresa.tipo === 'PELUQUERIA'
                        div.tarjetaProductosMALL#colorServiciosPeluqueria
                            h3=empresa.tipo + ': ' + empresa.marca
                            img(src=`data:image/*;base64,${empresa.logo}`)
                            br
                            br
                            form(method='GET' action=`/sesion-cliente/${id}/empieza/themall/expansion${empresa.marca}`)
                                button(type='submit')='Acceder'
        br
    include ./componentes/piepagina.pug