//-- Contenido de la Sección Productos MAD Autenticado del Cliente del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo Productos MAD`

block body
    include ./componentes/cabecera.pug
    div.seccionProductosMAD
        div.cuadroProductosMAD#cuadroFiltro
            h3#tituloBusquedaMedida='Búsqueda a medida:'
            ul 
                li.seccionFiltrado='Por tipo de empresa:'
                li.seccionFiltrado='Por nombre de empresa:'
                li.seccionFiltrado='Por producto o servicio:'
                li.seccionFiltrado='Por nombre del producto:'
                li.seccionFiltrado='Por precio del producto:'
        div.cuadroProductosMAD#contenidoProductos
            each campo in cartaProducto
                div.cartaProductoMAD
                    img(src=`data:image/*;base64,${campo.portada}`)
                    h3=campo.titulo
                    h3='Cantidad: ' + campo.cantidad
                    h3='Precio: ' + campo.precio + '€'
                    h3='Envío: ' + campo.peso + ' Kg'
                    button='Añadir al carrito'
    include ./componentes/piepagina.pug