//-- Contenido de la Sección Expansión del Producto MAD por parte de los Miembros MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo completamente el Producto MAD ${enumeracion}`

block body
    include ./componentes/cabecera.pug
    .interfazExpansionProductosMAD 
        br
        .rowExp
            .columnExp
                div.image-container
                    div.carousel
                        if multimedia
                            each imagen in multimedia
                                if imagen
                                    img.bucleImages(src=`data:image/*;base64,${imagen}`)
                        else 
                            img.bucleImages(src=`data:image/*;base64,${imagenPortada}`)
                    i.fa-solid.fa-chevron-left.cambiarImagen#prev
                    i.fa-solid.fa-chevron-right.cambiarImagen#next
            .columnExp
                .subrowExp
                    h1=titulo
                .subrowExp
                    h2#rojoExpansion=`¡Sólo quedan ${cantidad} productos!`
                    h2#verdeExpansion='¡Date prisa y no esperes más!'
                .subrowExp
                    h3='Categoria: '
                    p.seccionesExpansion=categoria
                .subrowExp
                    h3='Peso para envío: '
                    p.seccionesExpansion=peso + ' Kg/unidad'
                .subrowExp
                    h3='Precio: '
                    p.seccionesExpansion=precio + ' €/unidad'
                .subrowExp
                    h3='Descripción: '
                    p.seccionesExpansion=descripcion
                br
                br
                .subrowExp
                    h1='Añadir imágenes/vídeos: '
                    p='Requisitos: '
                    p='1. Sube de 1 en 1 hasta 9 archivos.'
                    p='2. Formatos válidos: PNG, JPEG/JPG, MP4.'
                    form(method='POST' action=`/sesion-miembro/${id}/empieza/productosmadservices/expandir${enumeracion}` enctype="multipart/form-data")
                        input(type='file' name='multimedia' accept='image/png, image/jpg, image/jpeg, video/mp4')
                        button#btnAddMultimedia(type='submit')='Añadir'
                br
                br
                .subrowExp
                    form(method='GET' action=`/sesion-miembro/${id}/empieza/productosmadservices`)
                        button#btnGoBackProductosMAD(type='submit')='Volver a productos MAD'
        br
        br
    include ./componentes/piepagina.pug