//-- Contenido de la Interfaz de los Miembros MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`MAD Services: Sesión ${id}`

block body
    include ./componentes/cabecera.pug
    .interfazMiembroMAD
        br
        header
            if departamento === 'DIRECCION'
                img(src='/images/DptoDireccion.png' alt='DptoDireccion')
            else if departamento === 'ADMINISTRACION'
                img(src='/images/DptoAdministracion.png' alt='DptoAdministracion')
            else if departamento === 'CIBERSEGURIDAD'
                img(src='/images/DptoCiberseguridad.png' alt='DptoCiberseguridad')
            else if departamento === 'INGENIERIA'
                img(src='/images/DptoIngenieria.png' alt='DptoIngenieria')
            else if departamento === 'RRHH'
                img(src='/images/DptoRRHH.png' alt='DptoRRHH')
            else if departamento === 'VENTAS'
                img(src='/images/DptoVentas.png' alt='DptoVentas')
            else
                img(src='/images/DptoEconomia.png' alt='DptoEconomia')
            h1=`Interfaz del Departamento de ${departamento}:`
        div.row
            div.column
                h3='Actualización de campos: '
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-miembro`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Miembro: '
                    input.camposRegistro.inputMiembroMAD(type='text' name='miembro' placeholder='Introduce el nombre del Miembro MAD....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-departamento`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Departamento: '
                    select(name='departamento')
                        option(checked)=''
                        option='DIRECCION'
                        option='ADMINISTRACION'
                        option='CIBERSEGURIDAD'
                        option='INGENIERIA'
                        option='RRHH'
                        option='VENTAS'
                        option='ECONOMIA'
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-genero`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Género: '
                    input(type='radio' name='genero' value='Hombre')
                    label='Hombre'
                    input(type='radio' name='genero' value='Mujer')
                    label='Mujer'
                    input(type='radio' name='genero' value='Otro')
                    label='Otro'
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-email`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='E-mail: '
                    input.entradasNoRadio.inputMiembroMAD(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-password`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Antigua contraseña: '
                    input.entradasNoRadio.inputMiembroMAD(type='password' name='oldpassword' placeholder='Introduce una contraseña válida....')
                    br
                    br
                    br
                    label='Nueva contraseña: '
                    input.entradasNoRadio.inputMiembroMAD(type='password' name='newpassword' placeholder='Introduce una contraseña válida....')
                    br
                    br
                    br
                    label='Repite la contraseña: '
                    input.entradasNoRadio.inputMiembroMAD(type='password' name='repitePassword' placeholder='Introduce una Contraseña válida....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            div.column
                h3='Información del Miembro MAD: '
                div.subcolumn2
                    if id
                        label='El identificador/ID oficial: ' + id
                        br
                        br
                    if miembro
                        label='Miembro: ' + miembro
                        br
                        br
                    if departamento
                        label='Departamento: ' + departamento
                        br
                        br
                    if genero
                        label='Género: ' + genero
                        br
                        br
                    if email
                        label='E-mail: ' + email
                        br
                        br
                    if password
                        label='Contraseña: '
                        input(type='text' name='password' value=password readonly)
        div.row
            div.column
            div.column
                h3='Confirmación de separación de MAD Services: '
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/darse-baja`)
                    input(type='hidden' name='_method' value='DELETE')
                    label='¿Confirmas separarte de MAD Services y seguir tu propio camino?: '
                    br
                    br
                    select(name="decideConfirmar")
                        option(checked)=''
                        option='Sí'
                        option='No' 
                    button#btnBajaMiembroMAD(type='submit')='Confirmo'
            div.column
        div.row
            div.column
            div.column
                h3='Ingreso de producto para su venta: '
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/nuevo-producto` enctype="multipart/form-data")
                    label='Imagen de portada: '
                    input.inputMiembroMAD(type='file' name='portada' accept="image/*")
                    br
                    br
                    label='Cantidad: '
                    input.inputMiembroMAD(type="number" name='cantidad' placeholder='Cantidad de productos....')
                    br
                    br
                    label='Tipo de producto:'
                    select(name="categoria")='Categorias'
                        option(checked)=''
                        optgroup(label='Libros')
                            option='Libros infantiles' 
                            option='Libros juveniles'
                            option='Libros de historia'
                            option='Libros de naturaleza'
                            option='Libros de economía'
                            option='Libros escolares'
                            option='Libros de misterio'
                        optgroup(label='Juegos')
                            option='Juegos de mesa'
                            option='Juegos de calle'
                            option='Videojuegos'    
                        optgroup(label='Electrónica e Informática')
                            option='Consolas'
                            option='Altavoces'
                            option='Ratones'
                            option='Teclados'
                            option='PCs'
                            option='MACs'
                            option='Portátiles'
                            option='MacBooks'
                    br
                    br
                    label='Título:'
                    input.inputMiembroMAD(type="text" name='titulo' placeholder='Ponle un título....')
                    br
                    br
                    label='Precio:'
                    input.inputMiembroMAD(type="number" step="any" name='precio' placeholder='Precio del producto....')
                    span#euros='€'
                    br
                    br
                    label='Peso (para el envío):'
                    select(name="peso")
                        option(checked)=''
                        option='Hasta 2'
                        option='Hasta 5'
                        option='Hasta 7'
                        option='Hasta 10'
                        option='Hasta 15'
                        option='> 15'
                    span#euros='Kg'
                    br
                    br
                    label='Descripción:'
                    textarea(rows="10" cols="50" name='descripcion' placeholder='Describe el producto....')
                    button#btnIngresarProductoMAD(type='submit')='Ingresar'
            div.column
        div.row
            div.column
                h3='Actualización del producto para su venta: '
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-imagen` enctype="multipart/form-data")
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Imagen de portada: '
                    input.inputMiembroMAD(type='file' name='portada' accept="image/*")
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-cantidad`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Cantidad: '
                    input.inputMiembroMAD(type="number" name='cantidad' placeholder='Cantidad de productos....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-categoria`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Tipo de producto:'
                    select(name="categoria")='Categorias'
                        option(checked)=''
                        optgroup(label='Libros')
                            option='Libros infantiles' 
                            option='Libros juveniles'
                            option='Libros de historia'
                            option='Libros de naturaleza'
                            option='Libros de economía'
                            option='Libros escolares'
                            option='Libros de misterio'
                        optgroup(label='Juegos')
                            option='Juegos de mesa'
                            option='Juegos de calle'
                            option='Videojuegos'    
                        optgroup(label='Electrónica e Informática')
                            option='Consolas'
                            option='Altavoces'
                            option='Ratones'
                            option='Teclados'
                            option='PCs'
                            option='MACs'
                            option='Portátiles'
                            option='MacBooks'
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-titulo`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Título:'
                    input.inputMiembroMAD(type="text" name='titulo' placeholder='Ponle un título....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-precio`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Precio:'
                    input.inputMiembroMAD(type="number" step="any" name='precio' placeholder='Precio del producto....')
                    span#euros='€'
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-peso`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Peso (para el envío):'
                    select(name="peso")
                        option(checked)=''
                        option='Hasta 2'
                        option='Hasta 5'
                        option='Hasta 7'
                        option='Hasta 10'
                        option='Hasta 15'
                        option='> 15'
                    span#euros='Kg'
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
                    br
                    br
                form(method='POST' action=`/sesion-miembro/${id}/interfaz/actualizar-descripcion`)
                    input(type='hidden' name='_method' value='PATCH')
                    label='Enumeración: '
                    input.inputMiembroMAD(type="number" name='enumeracion' placeholder='Escribe la enumeración del producto....')
                    br
                    label='Descripción:'
                    textarea(rows="10" cols="50" name='descripcion' placeholder='Describe el producto....')
                    button(type='submit')
                        i.fa-solid.fa-square-pen.fa-2xl#iconosActualizar
            div.column
                h3='Productos MAD en base de datos: '
                each producto in todosProductosInterfaz
                    p=producto.enumeracion + ')'
                        span#separacionProductoEnumeracion=producto.titulo
        br
    include ./componentes/piepagina.pug