//-- Contenido de la Sección Productos MAD Autenticado del Miembro MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} viendo Productos MAD`

block body
    include ./componentes/cabecera.pug
    .interfazProductosMAD
        br
        header
            img(src='/images/anuncio.png' alt='anuncio')
        div.row
            div.columnIzq
                h3='Búsqueda a medida'
                p='Por tipo de empresa:'
                p='Por nombre de empresa:'
                p='Por producto o servicio:'
                p='Por nombre del producto:'
                p='Por precio del producto:'
            div.columnDer
                each campo in cartaProducto
                    form(method='POST' action=`/sesion-empresa/${id}/empieza/productosmadservices/borrar-producto`)
                        input(type='hidden' name='_method' value='DELETE')
                        div.tarjetaProductosMAD
                            h3=campo.titulo
                            img(src=`data:image/*;base64,${campo.portada}`)
                            if campo.cantidad === 1
                                h3=campo.cantidad + ' unidad queda'
                            else 
                                h3=campo.cantidad + ' unidades quedan'
                            h3=campo.precio + '€'
                            button#btnBorrarProductoMAD(type='submit')
                                i.fa-solid.fa-eraser.fa-2xl#iconoBorrarProductoMAD
        br
    include ./componentes/piepagina.pug