//-- Contenido de la Sección Registrarse como Miembro MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title='MAD Services: Registrar Miembros MAD'

block body
    div.fondoRegistrarseMiembroMAD
        div.registrarse
            h1='Darse de alta como Miembro MAD:'
            img.madservicestipologo(src='/images/madservices.png' alt='madservices')
            //-- Contenido de las alertas.
            if mensaje
                p.alerta#enRojo=mensaje
            if mensaje2
                p.alerta#enRojo=mensaje2
            form.formRegistro(method="POST" action='/registrarse/autorizar/miembro')
                label='Miembro: '
                input.camposRegistro#posicionNombreMiembro(type='text' name='miembro' placeholder='Introduce el nombre del Miembro de MAD Services....')
                br
                br
                label='Departamento: '
                    select.camposRegistro#posTipoDepartamento(name='departamento')
                        option(checked)=''
                        option='DIRECCION'
                        option='ADMINISTRACION'
                        option='CIBERSEGURIDAD'
                        option='INGENIERIA'
                        option='RRHH'
                        option='VENTAS'
                        option='ECONOMIA'
                br
                br
                label#etiquetagenero='Género: '
                    span.genero
                        input(type='radio' name='genero' value='Hombre')
                        label='Hombre'
                        input(type='radio' name='genero' value='Mujer')
                        label='Mujer'
                        input(type='radio' name='genero' value='Otro')
                        label='Otro'
                br
                br
                label='E-mail: '
                input.camposRegistro#posicionEmailCo(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                br
                br
                label='Nueva contraseña: '
                input.camposRegistro#posicionPsswd(type='password' name='password' placeholder='Introduce una contraseña válida....')
                br
                br
                label='Confirmación de la contraseña: '
                input.camposRegistro(type='password' name='confirmPassword' placeholder='Introduce una contraseña válida....')
                br
                br
                button.posAlta#btnAlta(type='submit')='Darse de alta'
            ul 
                li.botonesSalientes
                    form(method='GET' action='/')
                        button.dosbtnRegistro
                            i.fa-solid.fa-house.fa-2xl#iconosRegister
                li.botonesSalientes
                    form(method='GET' action='/registrarse')
                        button.dosbtnRegistro#btnBackRegister
                            i.fa-solid.fa-circle-left.fa-2xl#iconosRegister
            ul.otrosbtnLogin
                li 
                    form(method='GET' action='/login/autorizar/miembro')
                        button.btnSinCuenta='¡Ya tengo cuenta!'