//-- Contenido de la Sección Registrarse como Cliente del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title='MAD Services: Registrarse como Cliente'

block body
    div.fondoRegistrarseCliente
        div.registrarse
            h1='Darse de alta como Cliente:'
            img.madservicestipologo(src='/images/madforclients.png' alt='madforclientsLOGO')
            form.formRegistro(method='POST' action='/')
                label(for='nombre')='Nombre: '
                    span
                        input.camposRegistro#posicionNombre(type='text' placeholder='Escribe tu nombre....')
                br
                br
                label(for='apellidos')='Apellidos: '
                    span
                        input.camposRegistro#posicionApellidos(type='text' placeholder='Escribe tus dos apellidos....')
                br
                br
                label(for='genero')='Género: '
                    span.genero
                        input(type='radio' value='Hombre')
                        label='Hombre'
                        input(type='radio' value='Mujer')
                        label='Mujer'
                        input(type='radio' value='Otro' checked)
                        label='Otro'
                br
                br
                label(for='email')='E-mail: '
                    span
                    input.camposRegistro#posicionEmail(type='email' placeholder='Introduce un correo electrónico válido....')
                br
                br
                label(for='password')='Nueva contraseña: '
                    span
                    input.camposRegistro#posicionPassword(type='password' placeholder='Introduce una contraseña válida....')
                br
                br
                label(for='confirmPassword')='Confirmación de la contraseña: '
                    span
                    input.camposRegistro(type='password' placeholder='Introduce una Contraseña válida....')
                br
                br
                label(for='direccion')='Dirección: '
                    span
                    input.camposRegistro#posicionDireccion(type='text' placeholder='Introduce la dirección de un domicilio válido y el nº....')
                br
                br
                label(for='poblacion')='Población: '
                    span
                    input.camposRegistro#posicionPoblacion(type='text' placeholder='Introduce una población válida....')
                br
                br
                label(for='region')='Región: '
                    span
                    input.camposRegistro#posicionRegion(type='text' placeholder='Introduce una región válida....')
                br
                br
                label(for='pais')='País: '
                    span
                    input.camposRegistro#posicionPais(type='text' placeholder='Introduce un país válido....')
                br
                br
                label(for='cp')='Código Postal - CP: '
                    span
                    input.camposRegistro#posicionCP(type='number' placeholder='Introduce un código postal válido....')
                br
                br
                button.posAlta#btnAlta(type='submit')='Darse de alta'
            ul 
                li.botonesSalientes
                    form(method='GET' action='/')
                        button#btnAinicio
                            img.posdeinicio#iconAinicio(src='/icons/home.png' alt='home')
                li.botonesSalientes
                    form(method='GET' action='/registrarse')
                        button.posAtras#btnBack
                            img.posdeAtras#iconBack(src='/icons/back.png' alt='back')