//-- Contenido de la Sección Iniciar Sesión como Cliente del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title='MAD Services: Iniciar Sesión como Cliente'

block body
    h1.etiquetaLogin#Cliente='Cliente'
    div.login
        h1='INICIAR SESIÓN:'
        img.madservicesLOGO(src='/images/madforclients.png' alt='madforclients')
        label.entradas(for="inputEmail")='Correo Electrónico:'
        input.entradas#rellenoLogin(type='email' name='email' placeholder='Correo Electrónico....' required autofocus)
        label.entradas(for="inputPassword")='Contraseña:'
        input.entradas#rellenoLogin(type='password' name='password' placeholder='Contraseña....' pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
            title="La contraseña debe estar compuesta de mínimo 15 caracteres, letras minúsculas y mayúsculas y, de números" required)
        form(method='POST' action='/:id')
            button#btnAcceso(type='submit')='Acceder'
        form(method='GET' action='/')
            button#btnHome
                img#iconHome(src='/icons/home.png' alt='home')
        form(method='GET' action='/login')
            button#btnBack
                img#iconBack(src='/icons/back.png' alt='back')