//-- Contenido de la Sección Registrarse como Cliente del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title='MAD Services: Registrarse como Cliente'

block body
    div.fondoRegistrarseCliente
        div.registrarse
            h1='Darse de alta como Cliente:'
            img.madservicestipologo(src='/images/madforclients.png' alt='madforclientsLOGO')
            //-- Contenido de las alertas.
            if mensaje
                p.alerta#noAutorizado=`${mensaje}`
            else if registrado
                p.alerta#siRegistrado=`${registrado}`
            form.formRegistro(method='POST' action='/registrarse/cliente')
                label='Nombre: '
                    span
                        input.camposRegistro#posicionNombre(type='text' name='nombre' placeholder='Escribe tu nombre....')
                br
                br
                label='Apellidos: '
                    span
                        input.camposRegistro#posicionApellidos(type='text' name='apellidos' placeholder='Escribe tus dos apellidos....')
                br
                br
                label='Género: '
                    span.genero
                        input(type='radio' name='genero' value='Hombre')
                        label='Hombre'
                        input(type='radio' name='genero' value='Mujer')
                        label='Mujer'
                        input(type='radio' name='genero' value='Otro' checked)
                        label='Otro'
                br
                br
                label='E-mail: '
                    span
                    input.camposRegistro#posicionEmail(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                br
                br
                label='Nueva contraseña: '
                    span
                    input.camposRegistro#posicionPassword(type='password' name='password' placeholder='Introduce una contraseña válida....')
                br
                br
                label='Confirmación de la contraseña: '
                    span
                    input.camposRegistro(type='password' name='confirmPassword' placeholder='Introduce una Contraseña válida....')
                br
                br
                label='Dirección: '
                    span
                    input.camposRegistro#posicionDireccion(type='text' name='direccion' placeholder='Introduce la dirección de un domicilio válido y el nº....')
                br
                br
                label='Población: '
                    span
                    input.camposRegistro#posicionPoblacion(type='text' name='poblacion' placeholder='Introduce una población válida....')
                br
                br
                label='Región: '
                    span
                    input.camposRegistro#posicionRegion(type='text' name='region' placeholder='Introduce una región válida....')
                br
                br
                label='País: '
                    span
                    input.camposRegistro#posicionPais(type='text' name='pais' placeholder='Introduce un país válido....')
                br
                br
                label='Código Postal - CP: '
                    span
                    input.camposRegistro#posicionCP(type='number' name='cp' placeholder='Introduce un código postal válido....')
                br
                br
                button.posAlta#btnAlta(type='submit')='Darse de alta'
            ul 
                li.botonesSalientes
                    form(method='GET' action='/')
                        button.dosbtnRegistro
                            img.dosIconosRegistro#posdeinicio(src='/icons/home.png' alt='home')
                li.botonesSalientes
                    form(method='GET' action='/registrarse')
                        button.dosbtnRegistro#posAtras
                            img.dosIconosRegistro#posdeAtras(src='/icons/back.png' alt='back')
            ul.otrosbtnLogin
                li 
                    form(method='GET' action='/login/cliente')
                        button.btnSinCuenta='¡Ya tengo cuenta!'