//-- Contenido de la Sección Sobre MAD Services Autenticado del Miembro MAD del Comercio Electrónico.
extends ../base.pug

block title
  title=`MAD Services: ${id} en Conócenos`

block body
  include ../componentes/cabeceraAuthMiembroMAD.pug
  div.conoceMADs
    div.cuadro
      h1='Hablemos de MAD Services....'
      img.logoConoce(src='/images/conocenos.png' alt='conocenos')
      p='Todo comenzó con una idea para TFG (Trabajo de Fin de Grado) del dueño y fundador de MAD Services:'
      p='Alejandro Fernández Pérez.'
      br
      p='La idea del Proyecto era, formar el E-commerce de los E-Commerce, un Centro Comercial online, que'
      p='englobase a todas las Empresas del mercado (o las que quieran) y, para que al cliente le resultase'
      p='infinítamente más fácil encontrar y descubrir nuevas marcas y empresas.'
      br
      p='Al principio, MAD Services sería en 2D con productos en 3D y en su segunda versión, MAD Services'
      p='pasaría a ser en VR (Virtual Reality), gracias a la Tecnología A-Frame.'
      br
      p='A continuación, podéis seguir informándoos sobre MAD Services, en el link a su Wiki en GitHub:'
      a(href='https://github.com/madenterpriseservices/wiki/wiki' target="_blank")
        img.imagenConoce(src='/images/linkToWiki.png' alt='linkToWiki')
  include ../componentes/piepaginaAuthMiembroMAD.pug