//-- Contenido de la Sección Trabaja con Nosotros del Comercio Electrónico MAD Services.
extends ../base.pug

block title
  title='MAD Services'

block body
    a(href='/')
        img#LogoMADservices(src='/images/madservices.png' alt='madservices')
    button.btnesInicio
        a(href='/login')='Iniciar Sesión'
    button.btnesInicio#btnRegistrarse
        a(href='/registrarse')='Registrarse'
    select.selectLang(name="Idiomas")
        option(value="value1" selected)='Español'
        option(value="value2")='Inglés'
    p.fondoEmpleo
        h2.tituloEmpleo='¡Envíanos tu CV!'
        form.formEmpleo
            label='Nombre: '
                span.espaciadoCV
                    input#nombreCV(type='text')
            br
            br
            label='Apellidos: '
                span.espaciadoCV
                    input#apellidosCV(type='text')
            br
            br
            label='Email: '
                span.espaciadoCV
                    input#emailCV(type='email')
            br
            br
            label='Fecha de nacimiento: '
                span.espaciadoCV
                    input#birthdayCV(type='date')
            br
            br
            label='CV, títulos y/o otros: '
                span.espaciadoCV 
                    input(type="file" accept=".pdf" multiple)
            br
            br
            label.argumentacionCV='Asunto: '
                span.espaciadoCV
                    input#asuntoCV(type='text' maxLength='50')
            br
            br
            label.argumentacionCV='Mensaje: '
                span.espaciadoCV
                    textarea#cartaPresentacion(rows="10" cols="40")
            br
            br
            button.argumentacionCV(type='submit')
                a#elboton(href='/')='Enviar'
            br
            br
            br
    table.opciones
        tr
            th.opcionesDer 
            th.opcionesIzq
        tr
            th.opcionesDer
                a.enlaceNoBoton='Contacto'
            th.opcionesIzq#socialMedia='Nuestras RR.SS:'
        tr 
            th.opcionesDer
                a.enlaceNoBoton='Sobre MAD Services'
            th.opcionesIzq
                a(href='https://www.instagram.com/madservicesoficial/')
                    img#instagram(src='images/instagram.png' alt='instagram')
        tr 
            th.opcionesDer
                a.enlaceNoBoton='Trabaja con nosotros'
            th.opcionesIzq
                a(href='https://twitter.com/madservicestick')
                    img#twitter(src='images/twitter.png' alt='twitter')
        tr 
            th.opcionesDer
            th.opcionesIzq
        tr 
            th.opcionesDer
            th.opcionesIzq
        tr 
            th.opcionesDer
            th.opcionesIzq