//-- Contenido de la Sección Registrarse como Empresa del Comercio Electrónico MAD Services.
extends ../base.pug

block title
    title='MAD Services: Registrarse como Empresa'

block body
    div.fondoRegistrarseEmpresa
        div.registrarse
            h1='Darse de alta como Empresa:'
            img.madservicestipologo(src='/images/madforcompanies.png' alt='madforcompaniesLOGO')
            form.formRegistro(method="POST" action='/')
                label='Nombre de la Empresa: '
                    span
                    input.camposRegistro#posicionNombreSoc(type='text' name='nombreEm' placeholder='Introduce el nombre de la Empresa....')
                br
                br
                label='Tipo de empresa: '
                    span.tipoEmpresa
                        input(type='radio' name='tiposoc' value='PYME')
                        label='PYME'
                        input(type='radio' name='tiposoc' value='Multinacional')
                        label='Multinacional'
                        input(type='radio' name='tiposoc' value='StartUp' checked)
                        label='StartUp'
                br
                br
                label='Código CIF/NIF: '
                    span
                    input.camposRegistro#posicionCIF(type='text' name='cif' placeholder='Introduce el Código CIF/NIF....')
                br
                br
                label='E-mail: '
                    span
                    input.camposRegistro#posicionEmailCo(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                br
                br
                label='Nueva contraseña: '
                    span
                    input.camposRegistro#posicionPsswd(type='password' name='password' placeholder='Introduce una contraseña válida....')
                br
                br
                label='Confirmación de la contraseña: '
                    span
                    input.camposRegistro(type='password' name='confirmPassword' placeholder='Introduce una contraseña válida....')
                br
                br
                button.posAlta#btnAlta(type='submit')='Darse de alta'
            ul 
                li.botonesSalientes
                    form(method='GET' action='/')
                        button.dosbtnRegistro
                            img.dosIconosRegistro#posdeinicio(src='/icons/home.png' alt='home')
                li.botonesSalientes
                    form(method='GET' action='/registrarse')
                        button.dosbtnRegistro#posAtras
                            img.dosIconosRegistro#posdeAtras(src='/icons/back.png' alt='back')
            ul.otrosbtnLogin
                li 
                    form(method='GET' action='/login/empresa')
                        button.btnSinCuenta='¡Ya tengo cuenta!'