//-- Contenido del Perfil de los Clientes del Comercio Electrónico MAD Services.
extends ../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
    include ../componentes/cabeceraAuth.pug
    div.perfilCliente
        br
        h1.tituloPerfil=`Hola ${nombre} ${apellidos}, éste es tu perfil:`
        div#perfilClienteIzquierda
            h3='Actualización de mi perfil: '
            form(method='PATCH' action=`/sesion/${id}/perfil`)
                label='Nombre: '
                input.entradasNoRadio(type='text' name='nombre' placeholder='Escribe tu nombre....')
                br
                br
                br
                label='Apellidos: '
                input.entradasNoRadio(type='text' name='apellidos' placeholder='Escribe tus dos apellidos....')
                br
                br
                br
                label='Género: '
                input(type='radio' name='genero' value='Hombre')
                label='Hombre'
                input(type='radio' name='genero' value='Mujer')
                label='Mujer'
                input(type='radio' name='genero' value='Otro' checked)
                label='Otro'
                br
                br
                br
                label='E-mail: '
                input.entradasNoRadio(type='email' name='email' placeholder='Introduce un correo electrónico válido....')
                br
                br
                br
                label='Antigua contraseña: '
                input.entradasNoRadio(type='password' name='oldpassword' placeholder='Introduce una contraseña válida....')
                br
                br
                br
                label='Nueva contraseña: '
                input.entradasNoRadio(type='password' name='newpassword' placeholder='Introduce una contraseña válida....')
                br
                br
                br
                label='Repite la contraseña: '
                input.entradasNoRadio(type='password' name='repitePassword' placeholder='Introduce una Contraseña válida....')
                br
                br
                br
                label='Dirección: '
                input.entradasNoRadio(type='text' name='direccion' placeholder='Introduce la dirección de un domicilio válido y el nº....')
                br
                br
                br
                label='Población: '
                input.entradasNoRadio(type='text' name='poblacion' placeholder='Introduce una población válida....')
                br
                br
                br
                label='Región: '
                input.entradasNoRadio(type='text' name='region' placeholder='Introduce una región válida....')
                br
                br
                br
                label='País: '
                input.entradasNoRadio(type='text' name='pais' placeholder='Introduce un país válido....')
                br
                br
                br
                label='Código Postal: '
                input.entradasNoRadio(type='number' name='cp' placeholder='Introduce un código postal válido....')
                br
                br
                br
                button#btnActualizarPerfil='Actualizar'
        div#perfilClienteDerecha
            h3='Mi Información: '
            form(method='GET' action=`/sesion/${id}/perfil`)
                label=`El identificador/ID de mi perfil: ${id}.`
                br
                br
                label=`Mi nombre: ${nombre}.`
                br
                br
                label=`Mis dos apellidos: ${apellidos}.`
                br
                br
                label=`Mi género: ${genero}.`
                br
                br
                label=`Mi correo electrónico: ${email}`
                br
                br
                label='Mi contraseña: '
                span(hidden)=`${password}`
                span='(oculta).'
                br
                br
                label=`Mi dirección y nº: ${direccion}.`
                br
                br
                label=`Mi población: ${poblacion}.`
                br
                br
                label=`Mi región: ${region}.`
                br
                br
                label=`Mi país: ${pais}.`
                br
                br
                label=`Código Postal de mi domicilio: ${cp}`
        div#perfilClienteAbajo
            h3='Darse de baja de MAD Services: '
            form(method='DELETE' action=`/sesion/${id}/perfil`)
                label='¿Confirmas que quieres darte de baja de MAD Services?: '
                br
                button#btnDarseBaja='Confirmo'
    include ../componentes/piepaginaAuth.pug