//-- Contenido de la Sección Productos MAD del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title='MAD Services y sus productos'

block body
    include ./componentes/cabecera.pug
    div.seccionProductosMAD
        div.cuadroProductosMAD#cuadroFiltro
            h3#tituloBusquedaMedida='Búsqueda a medida:'
            ul 
                li.seccionFiltrado='Por tipo de empresa:'
                li.seccionFiltrado='Por nombre de empresa:'
                li.seccionFiltrado='Por producto o servicio:'
                li.seccionFiltrado='Por nombre del producto:'
                li.seccionFiltrado='Por precio del producto:'
        div.cuadroProductosMAD#contenidoProductos
            div.cartaProductoMAD
                img
                h3.tipoProducto
                h3.tituloProducto
                h3.precioProducto
                p.descripcionProducto
                h3.pesoProducto
                button.alCarrito='Añadir al carrito'
    include ./componentes/piepagina.pug