//-- Contenido del Componente Cabecera Autenticada para Empresas del Comercio Electrónico MAD Services.
div#cabecera
  ul.nav
    li
      form(method='GET' action=`/sesion-empresa/${id}`)
        button.btnMADServices
          img.logoMADServices(src='/images/madforcompanies.png' alt='madservices')
    li.menu
      form(method='GET' action=`/sesion-empresa/${id}/interfaz`)
        button.btnOculto#posMiInterfaz='Mi Interfaz'
    li.menu
      form(method='GET' action='/')
        button.btnOculto#posCerrarSesion='Cerrar sesión'
    li.menu#despliegue
      button#btnCarrito
        i.fa-solid.fa-cart-arrow-down.fa-2xl#iconosCab
        span.contCarrito
      div#carritoHaciaAbajo.menuHaciaAbajo
        h4.cabeceraCarrito='Carrito de la compra'
        //-- Contenido del carrito de la compra del Comercio Electrónico MAD Services.
        ul.articulosCarrito
            li.articuloCarrito
              span.producto='Libro'
              span.cantidad='5'
              span.precio='3€'
        div.sumaArticulos
          p='Total: '
          span.precioTotal='3€'