//-- Contenido del Componente Pie de Página Autenticado de la Empresa del Comercio Electrónico MAD Services.
footer
    div.row
        div.column
            button.btnCopyRight &copy; 2020-2030 MAD Services
        div.column
            form(method='GET' action=`/sesion-empresa/${id}/contacto`)
                button.btnTexto='Contacto'
        div.column
            form(method='GET' action=`/sesion-empresa/${id}/conocenos`)
                button.btnOpciones='Sobre MAD Services'
        div.column
            form(method='GET' action=`/sesion-empresa/${id}/terminos-condiciones`)
                button.btnOpciones='Términos y Condiciones'
        div.column
            div.row='Nuestras RR.SS: '
                div.column
                    a(href='https://www.instagram.com/madservicesoficial/' target="_blank")
                        img.btnIconoRRSSmad(src='/images/instagram.png' alt='instagram')
                    a(href='https://twitter.com/madservicestick' target="_blank")
                        img.btnIconoRRSSmad(src='/images/twitter.png' alt='twitter')