//-- Contenido del Componente Cabecera Autenticada para Clientes del Comercio Electrónico MAD Services.
div#cabecera
  ul.nav
    li
      form(method='GET' action=`/sesion-cliente/${id}`)
        button.btnMADServices
          img.logoMADServices(src='/images/madforclients.png' alt='madservices')
    li.menu
      form(method='GET' action=`/sesion-cliente/${id}/perfil`)
        button.btnOculto#posMiInterfaz='Mi Perfil'
    li.menu
      form(method='GET' action='/')
        button.btnOculto#posCerrarSesion='Cerrar sesión'
    li.menu#despliegue
      form(method='GET' action=`/sesion-cliente/${id}/empieza/productosmadservices/carrito`)
        button#btnCarrito
          i.fa-solid.fa-cart-arrow-down.fa-2xl#iconosCab
          span.contCarrito