//-- Contenido del Componente Cabecera del Comercio Electrónico MAD Services.
div#cabecera
  ul.nav
    li
      form(method='GET' action='/')
        button.btnMADServices
          img.logoMADServices(src='/images/madservices.png' alt='madservices')
    li.menu
      input(type='search' maxlength='50' placeholder='Busca el producto/servicio')
      button(type='submit')='Buscar'
    li.menu
      form(method='GET' action='/login')
        button.btnOculto='Iniciar Sesión'
    li.menu
      form(method='GET' action='/registrarse')
        button.btnOculto='Registrarse'
    li.menu#despliegue
      button#btnCarrito
        i.fa-solid.fa-cart-arrow-down.fa-2xl#iconosCab
        span.contCarrito
      div#carritoHaciaAbajo.menuHaciaAbajo
        h4.cabeceraCarrito='Carrito de la compra'
        //-- Contenido del carrito de la compra del Comercio Electrónico MAD Services.
        ul.articulosCarrito
            li.articuloCarrito
              span.producto='Libro'
              span.cantidad='5'
              span.precio='3€'
        div.sumaArticulos
          p='Total: '
          span.precioTotal='3€'
    li.menu#menuIdiomas
      i.fa-solid.fa-earth-americas.fa-2xl#iconosCab
      select.eligeIdiomas#Idiomas(name="Idiomas")
        option(value="es" selected)='Español'
        option(value="en")='Inglés'
      #google_translate_element