//-- Contenido de la Sección Categorias Autenticado de la Empresa del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`MAD Services: ${id} entrando....`

block body
    include ./componentes/cabecera.pug
    div.categoriasSeccion
        div.categoria#productosMAD='Productos MAD'
            form(method='GET' action=`/sesion-empresa/${id}/empieza/productosmadservices`)
                canvas#marcaMAD
                img#imgMAD(src='/images/madservices.png' alt='madservices')
                button.btnCanvas
        div.categoria#restoMarcas='Resto de marcas'
            form(method='GET' action=`/sesion-empresa/${id}/empieza/themall`)
                canvas#multiMarca
                img#imgMulti(src='/images/multimarca.png' alt='multimarca')
                button.btnCanvas
    include ./componentes/piepagina.pug