//-- Contenido de la Interfaz de las Empresas del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title=`MAD Services: Sesión ${id}`

block body
    include ./componentes/cabecera.pug
    .interfazEmpresa
        br
        ul
            img.encabezadoEmpresa(src='/images/encabezadoPeluq.jpg' alt='encabezadoPeluq')
            h1=`${tipo} ${marca}:`
            li.descripcionEmpresa
                h3='Descripción: '
                p
            h3='Datos de la Empresa: '
            li.datosEmpresa
                if id
                    label='El identificador/ID oficial: ' + id
                br
                br
                if marca
                    label='Nombre de la empresa: ' + marca
                br
                br
                if tipo
                    label='Tipo de empresa: ' + tipo
                br
                br
            li.datosEmpresa2
                if nif
                    label='Código CIF/NIF: ' + nif
                br
                br
                if email
                    label='E-mail: ' + email
                br
                br
                if password
                    label='Contraseña: '
                    span(hidden)=password
                    span='(oculta).'
            li.iconosContactEmpresa
                h3='Iconos de contacto: '
                img.iconoRRSSempresa(src="/images/whatsapp.png", alt="whatsapp")
                p
                br
                img.iconoRRSSempresa(src="/images/instagram.png", alt="instagram")
                p
                br
                img.iconoRRSSempresa(src="/images/twitter.png", alt="twitter")
                p
    include ./componentes/piepagina.pug