//-- Contenido de la Sección Productos Multimarca del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
    title=`${id} en el Centro Comercial MAD`

block body
    include ./componentes/cabecera.pug
    .interfazProductosMAD
        br
        header
            img(src='/images/anuncio.png' alt='anuncio')
        div.row
            div.columnIzq
                h3='Búsqueda a medida'
                p='Por nombre del producto:'
                    input(type='search' maxlength='50' placeholder='Buscar por título....')
                    button(type='submit')='Buscar'
                p='Por tipo de empresa:'
                p='Por nombre de empresa:'
                p='Por producto o servicio:'
                p='Por precio del producto:'
            div.columnDer
                div.tarjetaProductosMALL#colorServiciosRestaurante
                    button(type='submit')='Añadir al carrito'
        br
    include ./componentes/piepagina.pug