//-- Contenido del Componente Pie de Página Autenticado del Miembro MAD del Comercio Electrónico MAD Services.
footer
    ul
        li.organizacionPiePagina &copy; 2020-2030 MAD Services
        li.organizacionPiePagina#exceptoCopyright
            form(method='GET' action=`/sesion-miembro/${id}/contacto`)
                button.botonesPiePagina#btnContacto='Contacto'
        li.organizacionPiePagina#exceptoCopyright
            form(method='GET' action=`/sesion-miembro/${id}/conocenos`)
                button.botonesPiePagina#btnConoce='Sobre MAD Services'
        li.organizacionPiePagina#exceptoCopyright
            form(method='GET' action=`/sesion-miembro/${id}/empleo`)
                button.botonesPiePagina#btnEmpleo='Trabaja con nosotros'
        li.organizacionPiePagina#exceptoCopyright='Nuestras RR.SS: '
            a(href='https://www.instagram.com/madservicesoficial/' target="_blank")
                img.redesSociales(src='/images/instagram.png' alt='instagram')
            a(href='https://twitter.com/madservicestick' target="_blank")
                img.redesSociales(src='/images/twitter.png' alt='twitter')